*{
    box-sizing: border-box;
}
 
body{
    width: 80%;
    max-width: 900px;
    margin: auto;
}
 
main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "h h h"
        "n a a"
        "f f f"
    ;
}
 
header{
    background-color: rgb(92, 92, 0);
    grid-area: h;
}
 
nav{
    background-color: rgb(214, 5, 5);
    grid-area: n;
}
 
article{
    background-color: blueviolet;
    grid-area: a;
}
 
footer{
    background-color: aqua;
    grid-area: f;
}
 
nav li{
    list-style-type: none;
    background-color: azure;
    padding: 5px;
    margin: 5px 0;
}
 
nav ul{
    padding: 10px;
}
 
nav li:hover{
    background-color: peru;
}
 
nav li:hover a{
    color: aliceblue;
}
 
nav a{
    text-decoration: none;
}
 
@media screen and (max-width:600px) {
    body {
        widht: 100%
    }
    main{
        grid-template-columns: 1fr;
        grid-template-areas:
            "h"
            "n"
            "a"
            "f";
    }
}